<footer class="page-footer light-green">
  <div class="container">
    <div class="row">
      <div class="col l3 s12 center">
        <a class="footer-link" href="http://touristiamo.tn.it">
          <img class="footer-logo" src="assets/logo-touristiamo.png" alt="Touristiamo Laboratorio di Impresa">
        </a>
      </div>
      <div class="col l3 s12 center">
        <a class="footer-link" href="https://www.halesowen.ac.uk">
          <img class="footer-logo" src="assets/logo-halesowen.png" alt="Halesowen College">
        </a>
      </div>
      <div class="col l3 s12 center">
        <a class="footer-link" href="http://www.iesayala.com">
          <img class="footer-logo" src="assets/logo-ayala.png" alt="IES Francisco Ayala">
        </a>
      </div>
      <div class="col l3 s12 center">
        <a class="footer-link" href="http://www.tambosibattisti.tn.it">
          <img class="footer-logo" src="assets/logo-tambosi.png" alt="ITE Tambosi Battisti">
        </a>
      </div>
    </div>
  </div>
  <div class="footer-copyright light-green darken-1">
    <div class="container center">
      &copy; 2017
    </div>
  </div>
</footer>

