<div *ngIf="!usersSrv.userHasEditPermission()">
	<div class="row">
		<div class="col s12 l6 offset-l3">
			<h4>{{'not allowed-title' | translate | capitalize }}</h4>
			<p>{{'not allowed-text' | translate | capitalize }}</p>
		</div>
	</div>
</div>
<div *ngIf="usersSrv.userHasEditPermission()">
	<div class="row">
		<div class="col s12 l6 offset-l3">
			<h4>{{'add route points' | translate | capitalize }}</h4>
			<h5 *ngIf="route && route.name">
				<span [innerHTML]="route.name[translate.currentLang]"></span>

			</h5>
		</div>
	</div>
	<div class="row">
		<div class="col s12 l6 offset-l3">
			<ul class="collection" *ngIf="points && points[0]">
				<li class="collection-item" *ngFor="let point of points">
					<div>
						{{point.name[translate.currentLang]}}
						<span class="secondary-content">{{point.pt_order + 1}}</span>
					</div>
				</li>
			</ul>
			<ul class="collection">
				<li class="collection-item active" (click)="openModal();">
					<div>{{'add point' | translate | capitalize }}<span class="secondary-content"><i class="material-icons">add</i></span></div>
				</li>
			</ul>
		</div>
	</div>
	<div class="row center">
		<div class="input-field col s12">
			<a class="waves-effect waves-light btn light-green" (click)="save();">{{ 'save' | translate | capitalize }}</a>
		</div>
	</div>
</div>



<!-- MODAL ADD POINT -->
<div id="login" class="modal " materialize="modal" [materializeActions]="modalActions">
	<div class="modal-content">
		<div class="row">
			<h4 class="center">{{ 'add point' | translate | capitalize }}</h4>
			<form materialize class="col s12">
				<div class="row">
					<h6>{{ 'point name' | translate | capitalize }}:</h6>
					<div class="input-field col s12">
						<input id="name_en" name="name_en" type="text" class="validate" [(ngModel)]="newPoint.name.en">
						<label for="name_en">{{ 'english' | translate | capitalize}}</label>
					</div>
					<div class="input-field col s12">
						<input id="name_es" name="name_es" type="text" class="validate" [(ngModel)]="newPoint.name.es">
						<label for="name_es">{{ 'spanish' | translate | capitalize}}</label>
					</div>
					<div class="input-field col s12">
						<input id="name_it" name="name_it" type="text" class="validate" [(ngModel)]="newPoint.name.it">
						<label for="name_it">{{ 'italian' | translate | capitalize}}</label>
					</div>
				</div>
				<div class="row">
					<h6>{{ 'point description' | translate | capitalize }}:</h6>
					<div class="input-field col s12">
						<textarea id="description_en" name="description_en" class="materialize-textarea" materialize="characterCounter" [(ngModel)]="newPoint.description.en"></textarea>
						<label for="description_en">{{ 'english' | translate | capitalize}}</label>
					</div>
					<div class="input-field col s12">
						<textarea id="description_es" name="description_es" class="materialize-textarea" materialize="characterCounter" [(ngModel)]="newPoint.description.es"></textarea>
						<label for="description_es">{{ 'spanish' | translate | capitalize}}</label>
					</div>
					<div class="input-field col s12">
						<textarea id="description_it" name="description_it" class="materialize-textarea" materialize="characterCounter" [(ngModel)]="newPoint.description.it"></textarea>
						<label for="description_it">{{ 'italian' | translate | capitalize}}</label>
					</div>
				</div>
				<div class="row">
					<h6>{{ 'point type' | translate | capitalize }}:</h6>
					<div class="input-field col s12">
						<select name="country" materialize="material_select" [materializeSelectOptions]="countries" [(ngModel)]="newPoint.type">
							<option value="" selected>{{ 'type' | translate | capitalize }}</option>
							<option value="historic" selected>{{ 'historic' | translate | capitalize }}</option>
							<option value="monument" selected>{{ 'monument' | translate | capitalize }}</option>
							<option value="natural" selected>{{ 'natural' | translate | capitalize }}</option>
							<option value="cultural" selected>{{ 'cultural' | translate | capitalize }}</option>
						</select>
						<label>{{ 'type' | translate | capitalize }}</label>
					</div>
				</div>
				<div class="row">
					<h6>{{ 'point location' | translate | capitalize }}:</h6>
					<div class="input-field col s3">
						<input id="lat" name="lat" type="text" class="validate" [(ngModel)]="newPoint.lat">
						<label for="lat">{{ 'latitude' | translate | capitalize}}</label>
					</div>
					<div class="input-field col s3">
						<input id="lng" name="lng" type="text" class="validate" [(ngModel)]="newPoint.lng">
						<label for="lng">{{ 'longitude' | translate | capitalize}}</label>
					</div>
				</div>
				<div class="modal-form-row center">
					<button class="waves-effect waves-light btn-large light-green" (click)="addPoint()">{{ 'add' | translate | capitalize}}</button>
				</div>
			</form>
		</div>
	</div>
</div>