<div class="row">
	<div class="col s12 l6 offset-l3">
		<h4>{{ 'signup' | translate | capitalize}}</h4>
	</div>
</div>
<div class="row">
	<form materialize class="col s12 l6 offset-l3">
	  <div class="row">
	    <div class="input-field col s12">
	      <input id="username" type="text" class="validate">
	      <label for="username">{{ 'username' | translate | capitalize}}</label>
	    </div>
	  </div>
	  <div class="row">
	    <div class="input-field col s12">
	      <input id="email" type="email" class="validate">
	      <label for="email">{{ 'email' | translate | capitalize}}</label>
	    </div>
	  </div>
	  <div class="row">
	    <div class="input-field col s12">
	      <input id="password" type="password" class="validate">
	      <label for="password">{{ 'password' | translate | capitalize}}</label>
	    </div>
	  </div>
	</form>
</div>
